
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="background-image: url('../../assets/img/header-bg.jpg');">
    <div>
        <button type="button" class="btn btn-info active" style="display: flex;  align-items: center;  justify-content: center;">Active info button</button>
    </div>
</body>
</html>
