@{

    Layout = null;


    }
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NOBORDERS</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrapgray.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="~/Content/grayscale.min.css" rel="stylesheet" />
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">NoBorders</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/login/login">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/login/registercandidate">Candidate Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/login/registercompany">Company Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">NoBorders</h1>
                        <p class="intro-text">
                            One click away from reaching your goal!
                            <br> Break your borders!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>





    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Sabina Dobria</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquerygray.min.js"></script>
    <script src="~/Scripts/bootstrapgray.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Scripts/grayscale.js"></script>

</body>

</html>
